<div class="container-base mt-4">
    <div class="container-gigante">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div #ancla class="video-container">
                        <iframe src="https://player.vimeo.com/video/872955466?h=03e753fc17" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-6 ">
                    <h2>Volkswagen</h2>
                    <h5 class="mb-4">Last Chance</h5>
                </div>
                <div class="col-6 ">
                    <div class="d-flex justify-content-end gap-3 mt-2">
                        <app-blender [size]="iconSize" />
                        <app-ae [size]="iconSize" />
                        <app-ai [size]="iconSize" />
                        <app-ps [size]="iconSize" />
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- videos recomendados -->
                <app-recomendados/>
            </div>
        </div>
    </div>
</div>