<main class="container-base mt-4">
    <main class="container-gigante">
        <div class="container-fluid">
            <header id="boxWeb" class="container py-5">
                <p class="titulo">www</p>
                <section class="articulos">
                    <article>
                        <p>Divido el proyecto en distintas etapas que ayudan a avanzar sobre una base sólida, partiendo con un flujograma para visualizar las conexiones y comportamientos de interacción, luego un diseño en wireframe para definir la diagramación del contenido, maqueta en HTML/CSS/Bootstrap responsiva adaptable a diferentes pantallas para luego implementar el diseño final y funcionalidades del sitio mediante JavaScript o Typescript.
                        </p>
                    </article>
                    <article class="show">
                        <p class="text-secondary">I divide the project into different stages that help to progress on a solid foundation, starting with a flowchart to visualize the connections and interaction behaviors, then a wireframe design to define the layout of the content, followed by a responsive HTML/CSS/Bootstrap mockup adaptable to different screens, and finally, implementing the final design and functionalities of the site using JavaScript or TypeScript.
                        </p>

                    </article>
                </section>
            </header>

            <h1 class="text-center ">Diseño en wireframe</h1>
            <picture class="d-flex flex-column align-items-center my-5">
                <img class="img-fluid " src="../../../assets/img/web/landing-wireframe_low.png" alt="" srcset="">
            </picture>
            <h1 class="text-center pt-5">Matqueta HTML/CSS</h1>
            <picture class="d-flex flex-column align-items-center my-5">
                <img class="img-fluid " src="../../../assets/img/web/maquetaHTML.png" alt="" srcset="">
            </picture>
            <!-- <picture>
                <img class="img-fluid" src="../../../assets/img/web/TypeScript0001.jpg" alt="" srcset="">
            </picture> -->
            
            
            <!-- <div class="d-flex flex-column align-items-center gap-5">
                <div class="video-container">
                    <video autoplay loop muted [playsInline]="true" (loadedmetadata)="videoLoaded()">
                        <source src="../../../assets/video/musicarte-responsive-w1400.webm" type="video/webm">
                        <source src="../../../assets/video/musicarte-responsive-w1400.mp4" type="video/mp4">
                    </video>
                    @if (showLoader) {
                        <app-video-loader />
                    }
                </div>
            </div> -->
        </div>
    </main>
</main>
<section class="mt-5">
    <h3 class="text-center text-secondary text-uppercase ">Tecnologías</h3>
    <div class="container-fluid bg-body-secondary ">
        <div class="container my-3">
            <div class="d-flex justify-content-around gap-1 img-fluid">
                <app-html5 [size]="iconSize" />
                <app-css3 [size]="iconSize" />
                <app-js [size]="iconSize" />
                <app-angular [size]="iconSize" />
                <app-tscript [size]="iconSize" />
                <app-bootstrap [size]="iconSize" />
                <app-git [size]="iconSize" />
                <app-vscode [size]="iconSize" />
            </div>
        </div>
    </div>
</section>