<main class="container-base mt-4">
    <main class="container-gigante">
        <div class="container-fluid">
            <header id="boxWeb" class="container py-5">
                <p class="titulo">www</p>
                <section class="articulos">
                    <article>
                        <p>Mi sitio web está desarrollado desde cero con la plataforma de JavaScript, Angular. Puedo ofrecer mis habilidades de desarrollo usando diferentes tecnologías, y también metodologías de diseño como el siguiente ejemplo.
                        </p>
                    </article>
                    <article class="show">
                        <p class="text-secondary">My website is developed from scratch using the JavaScript framework Angular. I can offer my development skills using various technologies, as well as design methodologies, as demonstrated in the following example.
                        </p>

                    </article>
                </section>
            </header>

            <h1 class="text-center ">Diseño en wireframe</h1>
            <picture class="d-flex flex-column align-items-center my-5">
                <img class="img-fluid " src="../../../assets/img/web/landing-wireframe_low.png" alt="" srcset="">
            </picture>
            <h1 class="text-center pt-5">Matqueta HTML/CSS</h1>
            <picture class="d-flex flex-column align-items-center my-5">
                <img class="img-fluid " src="../../../assets/img/web/maquetaHTML.png" alt="" srcset="">
            </picture>
            <!-- <picture>
                <img class="img-fluid" src="../../../assets/img/web/TypeScript0001.jpg" alt="" srcset="">
            </picture> -->
            
            
            <!-- <div class="d-flex flex-column align-items-center gap-5">
                <div class="video-container">
                    <video autoplay loop muted [playsInline]="true" (loadedmetadata)="videoLoaded()">
                        <source src="../../../assets/video/musicarte-responsive-w1400.webm" type="video/webm">
                        <source src="../../../assets/video/musicarte-responsive-w1400.mp4" type="video/mp4">
                    </video>
                    @if (showLoader) {
                        <app-video-loader />
                    }
                </div>
            </div> -->
        </div>
    </main>
</main>
<section class="mt-5">
    <h3 class="text-center text-secondary text-uppercase ">Tecnologías</h3>
    <div class="container-fluid bg-body-secondary ">
        <div class="container my-3">
            <div class="d-flex justify-content-around gap-1 img-fluid">
                <app-html5 [size]="iconSize" />
                <app-css3 [size]="iconSize" />
                <app-js [size]="iconSize" />
                <app-angular [size]="iconSize" />
                <app-tscript [size]="iconSize" />
                <app-bootstrap [size]="iconSize" />
                <app-git [size]="iconSize" />
                <app-vscode [size]="iconSize" />
            </div>
        </div>
    </div>
</section>