<div class="container-base mt-4">
    <div class="container-gigante">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div #ancla class="video-container">
                        <app-telefonica/>
                        <!-- <iframe src="https://player.vimeo.com/video/873095583?h=24deece547" allowfullscreen></iframe> -->
                    </div>
                </div>
                <div class="col-6">
                    <h2>Telefónica</h2>
                    <h5 class="mb-4">Recomenzamos</h5>
                </div>
                <div class="col-6 d-flex justify-content-end gap-3 mt-2">
                    <app-cinema4d [size]="iconSize"/>
                    <app-redshift [size]="iconSize"/>
                    <app-resolve [size]="iconSize"/>
                </div>
            </div>
            <div class="row">
                <!-- videos recomendados -->
                <app-recomendados/>
            </div>
        </div>
    </div>
</div>
