<div class="container-base mt-4">
    <div class="container-gigante">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div #ancla class="video-container">
                        <iframe src="https://player.vimeo.com/video/872993409?h=df75d3a7ac" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 ">
                    <h2>SQM</h2>
                    <h5 class="mb-4">Amintec AS</h5>
                    <p class="descripcion-videos">Aquí una descripción del proyecto</p>
                </div>
            </div>
            <div class="row">
                <!-- videos recomendados -->
                <app-recomendados/>
            </div>
        </div>
    </div>
</div>
