<header class="container py-5">
    <p class="titulo">Algo impreso</p>
    <section class="articulos">
        <article>
            <p>Soy Diseñador Gráfico de profesión y manejo una gran cantidad de herramientas. Puedo trabajar en diseños que incluyan diagramas de información, foto-montajes, corrección de color y retoque digial para impresión o web. 
            </p>
        </article>
        <article class="show">
            <p class="text-secondary">I'm a Graphic Designer by profession and proficient in a variety of tools. I can work on designs that include information diagrams, photo montages, color correction, and digital retouching for print or web.
            </p>

        </article>
    </section>
</header>
<div class="container-fluid">
    <section class="galeria">
        <img src="../../../assets/img/afiche_1.webp" alt="">
        <img src="../../../assets/img/afiche_2.webp" alt="">
        <img src="../../../assets/img/afiche_3.webp" alt="">
    </section>
</div>