<div #ancla class="position d-flex flex-column align-items-center py-3">
  <h1 class="nombre-size rotar1 shadows-into-light-regular text-white bg-primary mt-4 px-2">David Vera Alvarez</h1>
  <h2 class="slogan-size rotar2 reenie-beanie-regular mb-0 text-white bg-warning mt-1 px-3">... diseño y animación ...</h2>
  <nav class="rotar3 mt-1 bg-danger">
      <ul class="nav-size d-flex justify-content-center gap-4 list-unstyled text-white shadows-into-light-regular2 mb-0 mx-3">
        <li><a (click)="enviarEstadoHome(true)" routerLinkActive="active" routerLink="/home">&#8226;Home&#8226;</a></li>
        <li><a (click)="enviarEstadoHome(false)" routerLinkActive="active" routerLink="/videos">&#8226;Video&#8226;</a></li>
        <li><a (click)="enviarEstadoHome(false)" routerLinkActive="active" routerLink="/web">&#8226;Web&#8226;</a></li>
        <!-- <li><a (click)="enviarEstadoHome(false)" routerLinkActive="active" routerLink="/print">&#8226;Print&#8226;</a></li> -->
      </ul>
    
  </nav>
</div>