<div class="d-flex justify-content-around mt-5 ">
    
        <app-blender class="flex-item" />
        <app-ps class="flex-item" />
        <app-ai class="flex-item" />
        <app-ae class="flex-item" />
        <app-premiere class="flex-item" />
        <app-audition class="flex-item" />
        <app-html5 class="flex-item" />
        <app-css3 class="flex-item" />
        <app-js class="flex-item" />
        <app-angular class="flex-item" />
        <app-tscript class="flex-item" />
        <app-bootstrap class="flex-item" />
        <app-git class="flex-item" />
        <app-vscode class="flex-item" /> 
    
</div>