<div class="d-flex align-items-center flex-column">
    <h2 class="shadows-into-light-regular mb-4 text-center text-primary ">Comentarios</h2>
    <form class="d-flex flex-column gap-2" method="post" id="contactForm" name="contactForm" novalidate="novalidate">
        <div class="row">
            <div class="form-group">
                <input type="text" class="form-control valid" name="lname" id="lname" placeholder="Nombre"
                    aria-required="true" aria-invalid="false">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <input type="text" class="form-control valid" name="email" id="email" placeholder="Email"
                    aria-required="true" aria-invalid="false"><label id="email-error" class="error" for="email"
                    style="display: none;"></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <textarea class="form-control valid" name="message" id="message" cols="100" rows="7"
                    placeholder="Escribe algo bonito" aria-required="true" aria-invalid="false"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <input type="submit" value="Enviar comentarios"
                class="shadows-into-light-regular2 btn btn-primary rounded-start-5 py-1 px-4">
            <span class="submitting"></span>
        </div>
    </form>
</div>