<p class="titulo">Manejo técnico</p>
<section class="articulos">
    <article>
      <p>Los requerimientos han sido diversos, por lo tanto he tenido la oportunidad de explorar y trabajar en alto nivel con las siguientes tecnologías.</p>
    </article>
    <article class="show">
      <p class="text-secondary">The requirements have been diverse, which has given me the opportunity to explore and work at high level with the following technologies.
    </article>
  </section>
  <article class="mt-5">
    <p class="subtitulo">Diseño & animación</p>
    <div class="img-center">
      <img src="../../../assets/img/design-animation.png" alt="" class="image">
    </div>
    <p class="subtitulo mt-5">Desarrollo</p>
    <div class="img-center">
      <img src="../../../assets/img/dev.png" alt="" class="image">
    </div>
    <p class="subtitulo mt-5">Comunicación</p>
    <div class="img-center">
      <a href="../../../assets/certificado-poliglota.pdf"><img src="../../../assets/img/certificado-poliglota.png" alt="" class="image"></a>
    </div>

  </article>

