<p class="titulo">Hagamos algo</p>
<section class="articulos">
    <article>
      <p>Te invito a explorar el mundo del diseño, la animación y el desarrollo web. <br/><br> Con creatividad y dedicación, puedo dar vida a proyectos sorprendentes y funcionales, desde diseños simples pero elegantes, hasta animaciones dinámicas y sitios web atractivos. <br/><br/>¡Llevemos tus ideas al siguiente nivel!</p>
    </article>
    <article class="">
      <p class="text-secondary">I invite you to explore the world of design, animation, and web development. <br><br>
        With creativity and dedication, I can bring to life amazing and functional projects, from simple yet elegant designs to dynamic animations and attractive websites.<br><br>Let's take your ideas to the next level!
    </article>
  </section>