@keyframes show {
    from {
        opacity: 0.5;
        scale: 65%
    }

    to {
        opacity: 1;
        scale: 100%
    }
}
p {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 0% cover 35%;
    animation-fill-mode: both;
}
